<div ng-controller="ListApprovalStatusCtrl">

    <p class="input-group">
        <input type="text" class="form-control"
               uib-datepicker-popup="dd/MM/yyyy"
               ng-model="dt"
               is-open="opened"
               datepicker-options="dateOptions"
               ng-required="true"
               show-button-bar="false"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>

    <div style="padding: 10px;">
        <table class="table table-bordered">
        <thead>
        <tr>
            <th>Статус</th>
            <th>Обоснование присвоение статуса</th>
            <th>Дата согласования с УЛ</th>
            <th>Ссылка на БП</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in model.approvalStatusList track by $index">
                <td>
                    {{item.status}}
                </td>
                <td>
                    {{item.justificationAssignmentStatus}}
                </td>
                <td>
                    {{item.approvalDate}}
                </td>
                <td>
                    <a href="{{item.link}}" target="_blank">{{item.link}}</a>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
</div>

