
<table class="table" style="width: 50%;margin: 20px;">
    <caption>USER LIST</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

    <tr>
        <th scope="row"><%= index %></th>
        <td><%= name %></td>
        <td><%= age %></td>
        <td>
            <small>
                <a href="#!"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#!" class="delete-contract"><span class="glyphicon glyphicon-trash"></span></a>
            </small>
        </td>
    </tr>

    <tr>
        <th scope="row"><%= index %></th>
        <td><%= name %></td>
        <td><%= age %></td>
        <td>
            <small>
                <a href="#!"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#!" class="delete-contract"><span class="glyphicon glyphicon-trash"></span></a>
            </small>
        </td>
    </tr>

    <!--<tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr>-->
    </tbody>
</table>
