<!DOCTYPE html>
<html lang="en" ng-app="doctorAnyaApp">
<head>
    <meta charset="UTF-8">
    <title>Доктор Аня</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://code.angularjs.org/1.5.9/angular.min.js"></script>

    <script src="./js/app.js"></script>

    <!--PatientList-->
    <script src="./js/PatientList/patient-list.js"></script>




</head>
<body ng-cloak ng-controller="PatientListCtrl as vm">


<style>
    .text-right{
        text-align: right;
    }

</style>

<!--фильтр-->

<div>

    <div class="form-group">
        <table>
            <tr>
                <td></td>
            </tr>

            <div class="row" style="margin: 10px">
                <div class="col-md-4">

                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Имя:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control input-sm" type="text" ng-model="vm.filter.name" placeholder="Введите имя"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Фамилия:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control input-sm" type="text" ng-model="vm.filter.lastName" placeholder="Введите фамилию"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Отчество:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control input-sm" type="text" ng-model="vm.filter.patronymic" placeholder="Введите отчество"/>
                        </div>
                    </div>






                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
            </div>


        <table>
    </div>
</div>


<div style="padding:20px;">
    <table class="table table-bordered">
        <caption>Список пациентов:</caption>
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Профессия</th>
            <th>Хобби, увлечения</th>
            <th>Семья</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.patientList track by $index">
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.lastName}}
                <a target="_blank" href="http://localhost:8080/page/hdp/ws/bp_doc?group=ord&nodeRef=workspace://SpacesStore/40d887e4-a07d-4b9e-a0bb-be5d94b1a2cb&pageMode=review">-=link=-</a>
            </td>
            <td>
                {{item.patronymic}}
            </td>
            <td>
                {{ item.age | filterAge }}
            </td>
            <td>
                {{item.profession}}
            </td>
            <td>
                {{item.hobby}}
            </td>
            <td>
                {{item.family}}
            </td>
            <td>
                <button class="btn btn-default btn-sm" title="Добавить" ng-show="model.card.auditRecords.length == $index + 1" ng-click="addAudit()">
                    <span style="color: #265a88" class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default btn-sm" title="Удалить" ng-click="deleteAudit($index)">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>